$color1:grey;
$color2:rgb(213, 213, 213);
$buttoncolor:rgb(6, 213, 249);
$buttonhover:rgb(136, 232, 249);
$color3:rgb(240, 240, 240);
$backgroundcolor:rgb(66, 66, 66);
$mainfont: Verdana,
Geneva,
Tahoma,
sans-serif;
body {
    font-family: $mainfont;
    margin: 0%;
    padding: 0%;
    background-color: $backgroundcolor;
}

#current_date {
    color: $backgroundcolor;
    font-size: 80%;
}

.container {
    background-color: $color2;
    margin: auto;
    width: 80%;
    border: 3px solid $color1;
    padding: 10px;
    margin-top: 1%;
    text-align: center;
    h2 {
        text-align: center;
    }
    .container.input {
        text-align: center;
    }
    .ingresepesos {
        width: 40%;
        line-height: 30px;
        border-radius: 5%;
    }
    .monedaconvertir {
        width: 40%;
        line-height: 40px;
        border-radius: 5%;
        font-size: large;
    }
}

#btnconvertir {
    width: 40%;
    line-height: 40px;
    border-radius: 2%;
    font-size: large;
    background-color: $buttoncolor;
    border-color: $buttoncolor;
    font-family: $mainfont;
    &:hover {
        background-color: $buttonhover;
        border-color: $buttonhover;
    }
}

.valorfinal {
    align-items: center;
    background-color: $color3;
    margin: auto;
    width: 40%;
    line-height: 40px;
}

.grafica {
    width: 85%;
    margin: 3%;
}